# Node modules folder
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Electron build output
dist/
out/

# Optional: local environment files
.env
.env.local
.env.*.local

# IDE/editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional: Mac/Linux swap or temp files
*.swp
*~
